asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
crispy-bootstrap5==2024.10
dj-database-url==2.3.0
Django==4.2.16
django-bootstrap-v5==1.0.11
django-crispy-forms==2.3
environs==11.0.0
gunicorn==23.0.0
idna==3.10
marshmallow==3.23.0
packaging==24.1
pillow==11.0.0
python-dotenv==1.0.1
python-environ==0.4.54
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.1
stripe==11.1.1
typing_extensions==4.12.2
urllib3==2.2.3
