{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset Complete{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
{% endblock %}

{% block content %}
<div class="container-center">
    <div class="content">
        <h1>Password reset complete!</h1>
        <p>Your password has been successfully reset. You can now log in with your new password.</p>
        <a href="{% url 'home' %}" class="btn btn-success">Go to Home</a>
    </div>
</div>
{% endblock %}
