{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}"/>
{% endblock %}

{% block content %}
<div class="profile-container">
    <h1 class="item-center">Profile {{ user.username }}</h1>
    <div class="profile-info">
        <p><strong>Firstname:</strong> {{ user.first_name }}</p>
        <p><strong>Lastname:</strong> {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Street address:</strong> {{ user.street_address }}</p>
        <p><strong>City:</strong> {{ user.city }}</p>
        <p><strong>Zip code:</strong> {{ user.zip_code }}</p>
    </div>
    <div class="button-container">
        <a class="btn-custom btn-large btn-edit" href="{% url 'profile_update' %}">Update profile</a>
    </div>
</div>
{% endblock %}