{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

    <div class="home-container">
        <div class="home-info">
            <div class="info-text">
                <h2>Welcome</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint mollitia impedit soluta, nobis accusamus culpa nemo. Ipsam blanditiis vitae incidunt eum quisquam. Minus rerum deserunt provident quaerat quam, debitis unde perferendis repudiandae, explicabo dolorum facere quae, modi commodi repellendus repellat accusamus! Suscipit, laudantium voluptatum cum iure consectetur optio tenetur assumenda!.</p>
                <a href="{% url 'about' %}" class="info-button">See more</a>
            </div>
            <div class="info-image">
                <img src="https://img.freepik.com/premium-photo/large-solar-panel-is-mounted-metal-frame-grassy-field_604472-12474.jpg" alt="Descripción de la imagen">
            </div>
        </div>
        <div class="home-prod">
            <h2 class="section-title">Some of our products</h2>
            <div class="products-grid">
                {% for product in products %}
                <div class="product-card">
                    <div class="product-image">
                        {% if product.image and product.image.url %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <img src="{% static 'images/default.jpg' %}" alt="Default Image">
                        {% endif %}
                    </div>
                    <div class="product-info">
                        <h3>{{ product.name }}</h3>
                        <p class="price">${{ product.price }}</p>
                        {% if user.is_authenticated %}
                            <form action="{% url 'add_to_cart' product.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="buy-button">Add to Cart</button>
                            </form>
                            {% else %}
                                <p>Please <a href="{% url 'login' %}">log in</a> to add products to your cart.</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="home-com">
            <h2 class="section-title">We have this brands</h2>
            <div class="com-carousel">
                <div class="com-track">
                    <!-- Imágenes originales -->
                    <div class="com-slide">
                        <img src="{% static 'images/apsystems.png' %}" alt="img1">
                    </div>
                    <div class="com-slide">
                        <img src="{% static 'images/epsolar.png' %}" alt="img2">
                    </div>
                    <div class="com-slide">
                        <img src="{% static 'images/growatt.png' %}" alt="img3">
                    </div>
                    <div class="com-slide">
                        <img src="{% static 'images/hoymiles.png' %}" alt="img4">
                    </div>
                    <div class="com-slide">
                        <img src="{% static 'images/jasolar.jpg' %}" alt="img5">
                    </div>
                    <div class="com-slide">
                        <img src="{% static 'images/jntech.png' %}" alt="img6">
                    </div>
                    <div class="com-slide">
                        <img src="{% static 'images/solark.jpg' %}" alt="img7">
                    </div>
                    <div class="com-slide">
                        <img src="{% static 'images/sungrow.jpg' %}" alt="img8">
                    </div>
                    <!-- Duplicado de imágenes para el efecto infinito -->
                    <div class="com-slide">
                        <img src="{% static 'images/apsystems.png' %}" alt="img1">
                    </div>
                    <div class="com-slide">
                        <img src="{% static 'images/epsolar.png' %}" alt="img2">
                    </div>
                    <div class="com-slide">
                        <img src="{% static 'images/growatt.png' %}" alt="img3">
                    </div>
                    <div class="com-slide">
                        <img src="{% static 'images/hoymiles.png' %}" alt="img4">
                    </div>
                    <div class="com-slide">
                        <img src="{% static 'images/jasolar.jpg' %}" alt="img5">
                    </div>
                    <div class="com-slide">
                        <img src="{% static 'images/jntech.png' %}" alt="img6">
                    </div>
                    <div class="com-slide">
                        <img src="{% static 'images/solark.jpg' %}" alt="img7">
                    </div>
                    <div class="com-slide">
                        <img src="{% static 'images/sungrow.jpg' %}" alt="img8">
                    </div>
                </div>
            </div>
        </div>

    </div>
    
{% endblock %}

{% block scripts %}

{% endblock %}