* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Container center */
.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
}

.item-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Buttons */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.button-container .btn {
    margin: 0 10px;
}

.btn-custom {
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

.btn-custom.btn-extralarge {
    padding: 12px 24px;
    font-size: 18px;
}

.btn-custom.btn-large {
    padding: 10px 20px;
    font-size: 16px;
}

.btn-custom.btn-medium {
    padding: 8px 16px;
    font-size: 14px;
}

.btn-custom.btn-small {
    padding: 5px 10px;
    font-size: 12px;
}

.btn-custom.btn-extrasmall {
    padding: 4px 8px;
    font-size: 10px;
}

.btn-primary  {
    background-color: #276c2a;
    color: white;
}

.btn-primary:hover {
    background-color: #2E7D32;
    color: white;
}

.btn-primary:focus {
    background-color: #2E7D32;
    border-color: #2E7D32;
    box-shadow: 0 0 0 .25rem rgba(46, 125, 50, 0.5);
}

.btn-secondary {
    /* background-color: #B0BEC5; */
    color: white;
}
.btn-secondary:hover {
    background-color: #90A4AE;
    color: white;
}

.btn-success {
    background-color: #388E3C;
    color: white;
}
.btn-success:hover {
    background-color: #2E7D32;
    color: white;
}

.btn-edit {
    background-color: #1976D2;
    color: white;
}
.btn-edit:hover {
    background-color: #1565C0;
    color: white;
}

.btn-danger {
    background-color: #D32F2F;
    color: white;
}
.btn-danger:hover {
    background-color: #C62828;
    color: white;
}

.btn-info {
    background-color: #FBC02D;
    color: white;
}
.btn-info:hover {
    background-color: #F9A825;
    color: white;
}

.btn-info:focus {
    color: white;
    background-color: #F9A825;
    border-color: #F9A825;
    box-shadow: 0 0 0 .25rem rgba(249, 168, 37, 0.5);
}

.button-close { /* Notifications button X */
    background-color: transparent;
    border: transparent;
    color: black;
}

/* Noti */
.messages {
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 1000;
    width: auto;
}

.messages .alert {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(100%);
    animation: slide-in 0.5s forwards, fade-out 4s 3.5s forwards;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

/* Modals */
.modal-content {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #2E7D32;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 15px;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: 600;
}