.order-modal-header h5 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.order-modal-items-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 5px;
}

.form-control{
    width: auto;
    margin: 0 auto;
    margin-bottom: 10px;
}