.profile-update-container {
    width: 50vh;
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.profile-update-container h1 {
    color: #333;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
}

.profile-update-form form {
    display: flex;
    flex-direction: column;
}

.profile-update-form p {
    margin: 0;
}

.profile-update-form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: 500;
}

.profile-update-form input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.profile-update-form input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.profile-update-form .form-text{
    font-size: 12px;
}