
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    /* background-color: #f7f5f5; */
    height: 60%;
    margin: 20px;
}

h1 {
    font-size: 3.2rem;
    margin-bottom: 10px;
    font-weight: 800;
}

p {
    font-size: 1.25rem;
    margin: 5px 0;
}

/* Responsive */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1rem;
    }
}