{% extends "base.html" %}
{% load static %}

{% block title %} Admin Management {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/management.css' %}"/>
{% endblock %}

{% block content %}

<!-- <div class="button-container">
    <a href="{% url 'home' %}" class="btn-custom btn-main">
        <i class="fa-solid fa-house"></i> Go Home
    </a>
</div> -->
<div class="management">
    <!-- <h2>Admin Management</h2> -->
    <div class="management-grid">
        <div class="management-card">
            <div class="icon">📦</div>
            <h3>Product</h3>
            <p>View and manage product</p>
            <a class="btn-custom btn-large btn-primary" href="{% url 'product_list' %}">View Products</a>
        </div>
        <div class="management-card">
            <div class="icon">📋</div>
            <h3>Categories</h3>
            <p>View and manage product categories</p>
            <a class="btn-custom btn-large btn-primary" href="{% url 'categories' %}">View Categories</a>
        </div>
        <div class="management-card">
            <div class="icon">🏷️</div>
            <h3>Coupons</h3>
            <p>View and manage coupons</p>
            <a class="btn-custom btn-large btn-primary" href="{% url 'coupon' %}">View Coupons</a>
        </div>
        <div class="management-card">
            <div class="icon">🛒</div>
            <h3>Orders</h3>
            <p>Check new orders</p>
            <a class="btn-custom btn-large btn-primary" href="{% url 'orders' %}">View Orders</a>
        </div>
    </div>
</div>
{% endblock %}