{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/b8ce32ba45.js" crossorigin="anonymous"></script>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}
    {% endblock %}
</head>

<body>

    {% include 'components/navbar.html' %}

        {% block content %}
        {% endblock %}
    
    {% include 'components/footer.html' %}
    
    {% bootstrap_javascript %}
    <script src="{% static 'js/navbar.js' %}"></script>
</body>

</html>

{% block scripts %}
{% endblock %}
