{% extends 'base.html' %}
{% load static %}

{% block title %}Checkout{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}"/>
{% endblock %}

{% block content %}
<form id="payment-form" method="POST">
    {% csrf_token %}
    
    <div class="left-section">
        <h3>Shipping Address</h3>
        <div>
            <label for="recipient_name">Recipient Name</label>
            <input type="text" id="recipient_name" name="recipient_name" placeholder="John Doe" value="{{ user.get_full_name }}" required>
        </div>
        <div>
            <label for="street_address">Street Address</label>
            <input type="text" id="street_address" name="street_address" placeholder="123 Main St" value="{{ initial_data.street_address }}" required>
        </div>
        <div>
            <label for="city">City</label>
            <input type="text" id="city" name="city" placeholder="Your city" value="{{ initial_data.city }}" required>
        </div>
        <div>
            <label for="state">State/Province</label>
            <input type="text" id="state" name="state" placeholder="Your state" value="{{ initial_data.state }}" required>
        </div>
        <div>
            <label for="zip_code">Zip Code</label>
            <input type="text" id="zip_code" name="zip_code" placeholder="Postal Code" value="{{ initial_data.zip_code }}" required>
        </div>
        <div>
            <label for="country">Country</label>
            <input type="text" id="country" name="country" placeholder="Your country" value="{{ initial_data.country }}" required>
        </div>
    </div>

    <div class="right-section">
        <h3>Order Summary</h3>
        <ul>
            {% for item in cart_items %}
                <li>{{ item.quantity }} x {{ item.product.name }} - ${{ item.product.price }}</li>
            {% endfor %}
        </ul>
        <p>Subtotal: ${{ cart_total }}</p>
        
        {% if coupon_code %}
            <p>Discount (Coupon: {{ coupon_code }}): -${{ coupon_discount|floatformat:2 }}</p>
            <p>Total after discount: ${{ final_total|floatformat:2 }}</p>
        {% else %}
            <p>Total: ${{ cart_total|floatformat:2 }}</p>
        {% endif %}
        <button type="submit" id="submit-button">Confirm Payment</button>
        <div class="button-container">
            <a href="{% url 'cart' %}" class="btn btn-sm btn-primary">
                Cancel payment
            </a>
        </div>
    </div>
</form>

{% endblock %}


{% block scripts %}
    <script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}
