{% extends 'base.html' %}
{% load static %}

{% block title %}Payment Successful{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/success.css' %}"/>
{% endblock %}

{% block content %}
    <div class="content-container">
        <h1>Payment Successful!</h1>
        <p>Thank you for your purchase. Your payment has been processed successfully.</p>

        <h3>Shipping Address</h3>
        <p>{{ street_address }}</p>
        {% if line2 %}
            <p>{{ line2 }}</p>
        {% endif %}
        <p>{{ city }}, {{ state }}</p>
        <p>{{ zip_code }}, {{ country }}</p>
        <p>Your {{ order }}</p>
        <a class="btn-custom btn-large btn-success mt-4" href="{% url 'home' %}">Return to Home</a>
    </div>
{% endblock %}