{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}"/>
{% endblock %}


{% block content %}
<div class="navbar-container">
    <nav class="navbar">
        <div class="container">
            <a class="nav-link navbar-brand nav-logo" href="{% url 'home' %}">
                <img src="{% static 'images/SolarBFLogo1-1.png' %}" alt="">
            </a>
            
            <div class="nav-links" id="nav-links">
                {% if user.is_authenticated %}
                    {% if user.is_staff or user.role == 'worker' %}
                        <a class="btn-custom btn-medium btn-primary" href="{% url 'management' %}">Admin Management</a>
                    {% endif %}
                        <a class="btn-custom btn-medium btn-primary" href="{% url 'products' %}">Products</a>
                        <a class="btn-custom btn-medium btn-primary" href="{% url 'cart' %}">Cart</a>
                        <a class="btn-custom btn-logout" href="{% url 'logout' %}">Logout</a>
                        <a class="btn-custom btn-profile" href="{% url 'profile' %}">{{ user.username|slice:":1" }}</a>
                    {% else %}
                        <a class="btn-login" href="{% url 'login' %}">Login</a>
                    {% endif %}
            </div>
            <div class="nav-toggle" id="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
</div>
{% endblock %}
