{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}"/>
{% endblock %}


{% block content %}
<div class="navbar-container">
    <nav class="navbar">
        <div class="container">
            <a class="nav-link navbar-brand" href="{% url 'home' %}">SolarBF</a>
            <div class="nav-links" id="nav-links">
                {% if user.is_authenticated %}
                    {% if user.is_staff or user.role == 'worker' %}
                        <a class="nav-link" href="{% url 'management' %}">Admin Management</a>
                    {% endif %}
                    <a class="nav-link" href="{% url 'products' %}">Products</a>
                    <a class="nav-link" href="{% url 'cart' %}">Cart</a>
                    <a class="nav-link btn-nav logout-btn" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-link btn-nav login-btn" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
            <div class="nav-toggle" id="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
</div>
{% endblock %}
